---
name: "Deploy Tag"
"on":
  create:
    tags:
    - "*"
jobs:
  deploy:
    runs-on: "ubuntu-latest"
    timeout-minutes: 30
    env:
      GH_TOKEN: "${{ secrets.GH_TOKEN }}"
    steps:
    - uses: "actions/checkout@v6"
    - name: "Set up JDK 21"
      uses: "actions/setup-java@v5"
      with:
        distribution: "graalvm"
        java-version: "21"
        java-package: "jdk"
        cache: "maven"
    - name: "Set up Maven"
      uses: "stCarolas/setup-maven@v5"
      with:
        maven-version: "4.0.0-rc-5"
    - run: "mvn --version"
    - run: "git fetch --prune --unshallow --tags"
    - name: "Extract Current Tag"
      run: "echo \"TAG_NAME=${GITHUB_REF#refs/tags/}\" >> $GITHUB_ENV"
    - name: "Spotless Check"
      run: "mvn -s settings.xml spotless:check"
    - name: "Deploy with Maven"
      run: "mvn -s settings.xml clean deploy -Drevision=${TAG_NAME#v}"
    - name: "Release"
      uses: "softprops/action-gh-release@v2"
      with:
        generate_release_notes: "true"
        make_latest: "true"
        token: "${{ secrets.GH_TOKEN }}"
